.pixel {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-top: 2px;
  border: solid 1px;
  border-color: rgba(150, 150, 158, 0.45)
}

.on {
  background-color: black;
}

.off {
  background-color: white;
}

:host([data-lane="true"]) .off {
  background-color: #e8edf4;
}
